.container{
    width: 400px;
    /* height: 500px; */
    border-width: 3px;
    border-style: solid;
}
.item1{
    width: 80px;
    height: 170px;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}
.item2{
    width: 145px;
    height: 160px;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}
.footer{
    width: 380px;
    /* height: 350px; */
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}
.item{
    width: 100px;
     height: 90px; 
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}
